<!--<div class="main">
  <h1>Friends</h1>
  <div class="additem">
    <input [(ngModel)]="newItem" placeholer="Add Book" class="addtext">
    <button (click)="pushItem()">Add</button>
  </div>
  <ul>
    <li *ngFor="let i of books;let ind = index"> {{i | uppercase}} <span (click)="removeItem(ind)">X</span></li>
  </ul>
</div>

<div class="margint20">
  </div>-->

<!--
<h1>
  {{title}}
</h1>

{{myobj.name}}<br>
<ul>
  <li *ngFor="let i of books">{{i}}</li>
</ul>
<br> -->
<a routerLink="/members">Members</a><br>
<a routerLink="/product">Product</a>
<br>

<router-outlet></router-outlet>
<!--
<p *ngIf="isTrue">IsTrue</p>


<p *ngIf="!isTrue; then firstTemplate else secondTemplate">It is true</p>

<ng-template #firstTemplate>This Show if Not True</ng-template>
<ng-template #secondTemplate>This Show if True</ng-template>-->
<!--form1

<form [formGroup]="form">
  Decimal : <input type="text" name="decimal" (ngModelChange)="decimalChanged(oldValue,newValue=$event)" placeholder="decimal" formControlName="decimal">
  <br>
  <br>
  Binary : <input type="text" name="binary" (ngModelChange)="binaryChanged(oldValue,newValue=$event)" placeholder="binary" formControlName="binary">
  <br>
  <br>
  Octa : <input type="text" name="octal" (ngModelChange)="octalChanged(oldValue,newValue=$event)" placeholder="octal" formControlName="octal">
  <br>
  <br>
  Hexa : <input type="text" name="hexa" (ngModelChange)="hexaChanged(oldValue,newValue=$event)" placeholder="hexa" formControlName="hexa">
</form>

<!--forms end-->

<!-- form validation --/>

<form [formGroup]="vform" (ngSubmit)="onSubmit(vform.value)">
  <input type="text" name="uname" placeholder="User Name" formControlName="uname">
  <br>
  <br>
  <input type="text" name="fname" placeholder="Full Name" formControlName="fname">
  <br>
  <br>
  <input type="submit" [disabled]="!vform.valid" value="Submit">
</form>
<!-- form validation end-->